.cardWrapper {
    min-width: 300px;
    height: 180px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    background: linear-gradient(83deg, rgba(127,108,58,1) 0%, rgb(245, 174, 80) 49%, rgba(127,108,58,1) 100%);
    transition: all .3s;

}

.cardWrapper:hover {
  
  opacity: 1;
  box-shadow: 0 15px 45px -5px rgba(7,10,25,.25);
  filter: brightness(1.07);
  transform: translateY(-2px);
}

.cardImage {
    max-width: 300px;
    height: -webkit-fill-available;
    border-radius: 8px;
    background: #000;
}



.cardImage img {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    border-radius: 8px;
    height: 100%
}


.cardNumber {
    position: absolute;
    z-index: 9;
    bottom: -10px;
    left: -20px;
    font-weight: 700;
    font-size: 4.5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgba(127,108,58,1)
}



  @media (max-width: 620px) {
    .cardWrapper {
      min-width: 200px; 
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .cardWrapper {
      min-width: 120px; 
      height: 180px;
    }

    .cardNumber {font-size: 4rem;
  }
  }