.topList {
    margin: 20px 0 20px 20px ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.headerTitle {
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.seriesList {
    padding-top: 10px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding-left: 20px;
    overflow-x: scroll;
    height: 200px;
}

.seriesList::-webkit-scrollbar {
    display: none;
}